@font-face {
    font-family: 'ambulance-shotgun';
    src: url('fonts/ambulanceshotgun.woff2') format('woff2'),
    url('fonts/ambulanceshotgun.woff') format('woff'),
    url('fonts/ambulanceshotgun.woff') format('ttf');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: #272722;
    color: #D0D0CF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #FBF3E1;
    text-decoration: underline;
}

menu ul {
    padding: 0;
    margin: 0;
}

menu {
    text-align: right;
    height: 80px;
    margin: 0;
    padding: 14px;
    background: #000;
}

menu li {
    display: inline-block;
}

menu li a {
    padding: 6px;
    text-transform: uppercase;
    font-weight: bold;
}

main {
    background: #272722;
}

ul, ol {
    padding-inline-start: 20px;
}

#help,
#resources {
    border-top: 1px solid #fff;
}

#help .content,
#resources .content {
    display: block;
    padding-left: 50px;
    padding-right: 25px;
}

#help .video-tutorials-wrapper {
    display: block;
	margin-left: -50px;
    margin-right: -25px;
	margin-bottom: 15px;
}

#help .video-tutorials {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
}

#help .video-tutorials iframe {
    width: 100%;
}

#help li,
#resources li {
    margin: 0;
}

#help li a,
#resources li a {
    padding: 3px 0 3px 0;
    margin: 4px 0;
    display: block;
}

#help .icon,
#resources .icon {
    padding: 3px 0 3px 0;
    margin: 8px 0;
    display: block;
}

#channels {
    border-top: 1px solid #fff;
}

#channels .content {
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

h1, h2 {
    font-family: 'ambulance-shotgun', fantasy;
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #d5d5d5;
    background: linear-gradient(4deg, #465E2A, #5c6a31);
    padding: 20px 50px 10px;
    display: inline-block;
    transform: rotate(-2deg) skew(-9deg);
    margin: -20px 0 50px -15px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    text-transform: uppercase;
    width: 100%;
}

.intro {
    /*color: #fff;*/
    padding: 0 20px;
    text-align: justify;
}

#about .video-intro-wrapper {
    display: block;
}

#about .video-intro {
    margin: 0 auto;
    display: block;
    height: auto;
}

#about .video-intro iframe {
    width: 100%;
}

::selection {
    background: #1a1a1a;
    color: #FBF3E1;
}

section:hover h1,
section:hover h2 {
    color: #FBF3E1;
}

section {
    margin: 0 0 60px 0;
}

section .content {
    padding: 0 30px;
}

#about {
    margin-top: -35px;
}

#news {
    margin-top: 50px;
    margin-bottom: 50px;
}


.news-item,
.video-item {
    width: 304px;
    height: 256px;
    margin: 10px 0;
}

.news-item {
    border: #000 1px solid;
}

.video-item {
	border: none;
    width: 100%;
    height: 330px;
    background: transparent;
    display: block;
}

.video-item iframe {
    width: 100%;
    background: #000 url("images/ball-triangle.svg") no-repeat center;
	border: #1a1a1a 1px solid;
}

.video-item iframe:hover,
.news-item:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.video-item .description a {
    width: 212px;
    height: 58px;
	padding: 5px 15px;
	margin: 0 auto;
    display: block;
	text-align: center;
	background: #272722 no-repeat center;
	background-size: cover;
	background-origin: content-box;
	text-indent: -99999em;
	overflow: hidden;
	border: #000 1px solid;
	position: relative;
}

.video-item .description a:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.video-item-1 .description a {
    background-image: url("images/youtube.png")
}
.video-item-2 .description a {
    background-image: url("images/twitch.png")
}
.video-item-2 {
  margin-top: 40px;
}

.news-item .image {
    overflow: hidden;
    width: 100%;
    height: 171px;
}

.news-item .image img {
    width: 100%;
}

.description {
    padding: 10px;
}

.title {
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    height: 45px;
}

.date {
    font-size: 16px;
    color: #aaa;
    float: right;
}

#battle .allies {
    float: left;
    width: 180px;
    height: 110px;
    background: url("images/allies.png") no-repeat bottom left;
    background-size: cover;
}

#battle .axis {
    float: right;
    width: 128px;
    height: 110px;
    background: url("images/axis.png") no-repeat bottom right;
    background-size: cover;
}

#battle {
    margin-top: -60px;
    width: 100%;
    height: 110px;
    background: url("images/grass.png") repeat-x bottom center;

}

#battle .action {
    max-width: 1980px;
    margin: 0 auto;
}

a.icon,
span.icon {
    background-repeat: no-repeat;
    margin-left: -30px !important;
    padding-left: 30px !important;
    background-size: 20px 20px;
    background-position: left center;
}

.icon-discord {
    background-image: url("images/icon-discord.png");
}

.icon-steam {
    background-image: url("images/icon-steam.png");
}

.icon-youtube {
    background-image: url("images/icon-youtube.png");
}

.icon-manual {
    background-image: url("images/icon-manual.png");
}

.icon-corsix {
    background-image: url("images/icon-corsix.png");
}

.icon-tools {
    background-image: url("images/icon-tools.png");
}

.icon-patreon {
    background-image: url("images/icon-patreon.png");
}

#awards {
    background: #21201e;
    padding: 10px 0;
}

#awards img {
    width: 20%;
}

#awards img.wide {
    width: 35%;
}

#discord-widget {
    margin-left: -30px;
    width: auto;
    height: 140px;
    padding: 12px;
    border: 1px solid #1a1a1a;
    display: block;
    font-size: 13px;
}

#discord-widget .message {
    text-transform: uppercase;
    font-weight: bold;
}

#discord-widget .columns {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#discord-widget .d-logo {
    background: url("images/favicon.png") center;
    background-size: cover;
    border-radius: 10px;
    width: 45px;
    height: 45px;
}

#discord-widget .d-description {

}

#discord-widget .d-invite {
    width: 100%;
}

#discord-widget .discord-server {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

#discord-widget .members {
    margin-top: -8px;
}

#discord-widget .indicator {
    font-size: 32px;
    line-height: 15px;
    vertical-align: text-bottom;
}

#discord-widget .members-online .indicator {
    color: #43b581;
}

#discord-widget .members-total {
    margin-left: 10px;
}

#discord-widget .icon-discord {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    background-position: center;
    margin-left: 10px;
}

#discord-widget .invite-link {
    width: 90px;
    height: 35px;
    display: grid;
    grid-template-columns: 40px 50px;
    align-items: center;
    background: #628dd6;
    border-radius: 5px;
    border: 1px solid #628dd6;
    float: right;
}

#discord-widget .invite-link:hover {
    text-decoration: none;
    cursor: pointer;
    border-color: #d5d5d5;
}

@media (min-width: 480px) {
    #discord-widget {
        width: 370px;
        height: 85px;
    }

    #discord-widget .columns {
        grid-template-columns: 50px 1fr 0 95px;
    }

    #discord-widget .d-invite {
        width: auto;
    }
}

@media (min-width: 769px) {
    main {
        border: 2px #fff solid;
        box-shadow: inset 0 0 7px #d5d5d5, 0 0 5px #d5d5d5;
    }
}

@media (min-width: 1025px) {
    body {
        background-image: url("images/bg.png");
    }

    menu {
        height: 30px;
        background: none;
        padding: 20px;
    }

    menu li a {
        padding: 25px;
    }

    h1, h2 {
        font-size: 35px;
        margin-left: -50px;
        width: auto;
    }

    ul, ol {
        padding-inline-start: 40px;
    }

    #about h1 {
        margin-top: 10px;
    }

    section {
        margin: 0 3px 60px 3px;
    }

    #channels .content {
        padding: 0 30px;
    }

    .intro {
        padding: 10px 30px;
        text-indent: 40px;
    }

    .container {
        width: 1024px;
        overflow: visible;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #help .content,
    #resources .content {
        padding-left: 60px;
    }
	
	#help .video-tutorials-wrapper {
      margin-left: -30px;
    }

    #discord-widget {
        width: 424px;
    }

    #battle .allies {
        width: 360px;
        height: 219px;
    }

    #battle .axis {
        width: 255px;
        height: 219px;
    }

    #battle {
        height: 219px;
        margin-top: -100px;
    }

    #awards img,
    #awards img.wide {
        width: auto;
        margin: 10px;
    }

    .video-item {
        width: 450px;
        height: 330px;
    }

    .video-item iframe {
        width: 450px !important;
    }

    .video-item-2 {
        margin-top: 10px;
    }
}
